$content-width: 700px;
$wide-width: 1290px;

// Colors from theme.json
$poppy_yellow: #F2C60A;
$poppy_state_pink: #ed008e;
$dark_teal: #0b2225;
$black: #000000;
$burnt_sienna: #261404;
$white: #FAFBFC;
$not_quite_white: #F2F2F2;
